body{
  background-image: url("./pattern-background-desktop.svg");
  background-size: auto;
  background-color: #e0e8ff;
  background-repeat: repeat-x;
}
img{
  border-top-right-radius:  20px;
  border-top-left-radius: 20px;
  height: 220px;
  width: 450px;
  margin-bottom: 0;
}
.centre-block
{
  width: 450px;
  height: 660px;
  margin: 100px auto 0 auto;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.inside-block{
  background-color: white;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
h1{
  font-family: sans-serif;
  margin-top: 45px;
  margin-bottom: 0;
}
.description{
  color: #9095a9;
  font-family: sans-serif;
  margin: 0 auto 0 auto;
  width: 300px;
}
.plan
{
  background-color: #f8f9fe;
  width: 350px;
  height: 100px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 auto 0 auto;
  text-align: left;

}
.music{
  height: 48px;
  width: 48px;
  float: left;
  margin: 25px 0 25px 20px;
}
.plan-description
{
  color: #7d8399;

  margin: 30px 10px 25px 20px;
  display: inline-block;
  text-align: left;
}
.change
{

  float: right;
  margin: 40px 30px 0 0;
}
span{
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  display: inline-block;
  margin-bottom: 5px;
}
.proceed
{
  cursor: pointer;
  padding: 16px 0 16px 0;
  width: 354px;
  border-radius: 20px;
  background-color: #382ae1;
  margin: 0 auto 0 auto;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
.cancel-order
{
  cursor: pointer;
  display: inline;
  font-family: sans-serif;
}
